@import './fonts.scss';
@import './mixins.scss';
@import './vars.scss';

html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
  
h1, h2, h3, h4, h5, h6, p, ul, ol, figure, input, textarea, button {
    border-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

summary{
    display: block;
}

summary::-webkit-details-marker{
    display: none;
}
a{
    text-decoration: none;
}


.hidden{
    display: none;
}

.header{
    .navigation {
        background-color: $backBlockColor;
        &__box{
            min-height: 75px;
            @include flexBetween();
        }
        &__left-block {
            @include flexAlign();
            gap: 41px;
            svg image{
                fill: $accent-color;
            }
        }
        &__search {
            background-color: $backBlockColor;
            cursor: pointer;
            width: 26px;
            height: 27px;
        }
        &__right-block {
            @include flexAlign();
            gap: 33px;
            position: relative;
        }
        &__menu {
            background-color: transparent;
            cursor: pointer;
            @include flexColumn();
            gap: 8px;
        }
        &__menu-icon {
            background-color: #e8e8e8;
            width: 32px;
            height: 2px;
        }
        &__profile {
            background-color: $backBlockColor;
            cursor: pointer;
            width: 29px;
            height: 29px;
        }
        &__cart {
            background-color: $backBlockColor;
            cursor: pointer;
            width: 32px;
            height: 29px;
        }
        &__count-cart{
            display: block;
            font-size: 0.8em;
            font-family: $fontRegular;
            line-height: 14px;
            color: $colorText1;
            padding: 3px 6px;
            border-radius: 50%;
            background-color: $accent-color;
            position: absolute;
            top: 15px;
            right: -10px;
        }
    }
}

.heading {
    position: relative;
    background-color: $pink-color;
    &__box{
        height: 148px;
        text-transform: uppercase;
        @include flexBetween();
        align-items: center;
        flex-wrap: wrap;
    }
    &__title{
        font-family: $fontRegular;
        font-weight: 400;
        font-size: 24px;
        color: $accent-color;
    }
    &__breadcrumbs-item{
        font-family: $fontLight;
        color: $colorText3;
        &:not(:last-of-type)::after{
            content: "/";
            padding-left: 5px;
        }
        &:last-of-type{
            font-weight: 700;
            color: $accent-color;
        }
        &:hover{
            color: $accent-color;
        }
    }
    
    &__breadcrumbs{
        display: flex;
        gap: 5px;
    }
}

.hamburger-menu{
    width: 232px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 32px 72px 32px 32px;
    background-color: $colorText1;
    &__main-links{
        @include flexBetween();
    }
    &__close{
        width: 10px;
        color: #000;
    }
    &__item{
        color: $colorText3;
        font-family: $fontRegular;
        line-height: 17px;
    }
    &__title{
        color: #000;
        font-family: $fontBold;
        line-height: 17px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    &__links{
        @include flexColumn();
        gap: 11px; 
        margin-bottom: 20px;
    }
    &__for-people{
        font-family: $fontRegular;
        line-height: 17px;
        color: $accent-color;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 11px;
    }
    &__link{
        color: $colorText3;
        font-family: $fontRegular;
        line-height: 17px;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    
}

.products{
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        justify-items: center; 
        gap: 25px 30px;
        margin-bottom: 42px;
    }
    &__card {
        max-width: 360px;
    }
    &__image-box{
        @include flexCenter();
        width: 100%;
        height: 420px;
        background-size: cover;
        background-position: center;
        transition: all 1s ease;
        /* position: relative; */
        &:hover .products__dark-background {
            background-color: #3a3838b2;
            width: 100%;
            height: 100%;
            /* opacity: 0.8; */
        }
        &:hover .products__button-add-to-cart {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px 13px;
            color: $colorText1;
            font-size: 14px;
            line-height: 17px;
            border: 1px solid $colorText1;
            background-color: transparent;
            cursor: pointer;
            /* opacity: 1; */
        }
    }
    &__icon-cart{
        width: 26px;
        height: 24px;
    }
    &__button-add-to-cart{
        /* position: absolute;
        top: 1;
        bottom: 1;
        left: 1;
        right: 1;
        z-index: 2; */
        display: none;
        color: $colorText1;
        font-family: $fontRegular;
        line-height: 17px;
    }
    &__dark-background{
        /* position: absolute; */
        /* top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1; */
        @include flexCenter();
        transition: all 1s ease-out;
    }
    &__text{
        background-color: $colorText2;
        padding: 24px 16px;
    }
    &__card-title {
        font-family: $fontRegular;
        color: #000000;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    &__card-description {
        font-family: $fontLight;
        color: $colorText3;
        line-height: 17px;
        margin-bottom: 16px;
    }
    &__card-price {
        font-family: $fontRegular;
        color: $accent-color;
        font-size: 16px;
        line-height: 19px;
    }
}

.feature {
    background-color: $backBlockColor;
    &__items {
        min-height: 341px;
        @include flexCenter();
        gap: 30px;
    }
    &__item{
        max-width: 360px;
        min-height: 133px;
    }
    &__image {
        display: block;
        margin: 0 auto 19px;
    }
    &__title {
        font-family: $fontRegular;
        color: $colorText2;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 16px;
    }
    &__description {
        font-family: $fontLight;
        color: $colorText2;
        line-height: 17px;
        text-align: center;
    }
}

.subscribe-info{
    background-image: url(../assets/images/background-subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__bgc{
        background-color: #f4f4f4b3;
    }
    &__block {
        min-height: 448px;
        @include flexAround();
    }
    &__left-block {
        max-width: 360px;
        min-height: 225px;
    }
    &__avatar {
        display: block;
        width: 96px;
        height: 96px;
        margin: 0 auto 30px;
    }
    &__quote {
        font-family: $fontItalic;
        color: $backBlockColor;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    &__right-block {
        max-width: 557px;
        min-height: 142px;
    }
    &__title {
        font-family: $fontBold;
        color: $backBlockColor;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        text-transform: uppercase;
    }
    &__text {
        font-family: $fontRegular;
        font-weight: 400;
        color: $backBlockColor;
        font-size: 18px;
        line-height: 167.2%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    
    &__block-form{
        max-width: 356px;
        @include flexCenter();/*нужно чтобы input и button склеились*/
    }
    &__input-subscribe {
        color: $backBlockColor;
        line-height: 17px;
        background-color: #e1e1e1;;
        /* max-width: 256px; */
        min-height: 49px;
        padding: 6px 22px;
        border-radius: 25px 0 0 25px;
    }
    &__button-subscribe {
        font-family: $fontRegular;
        color: $colorText1;
        line-height: 17px;
        text-align: center;
        /* max-width: 100px; */
        min-height: 49px;
        background-color: $accent-color;
        padding: 7px 7px 6px 8px;
        border-radius: 0 25px 25px 0;
    }
}

.footer {
    background-color: $backBlockColor;
    &__block{
        min-height: 79px;
        @include flexBetween();
        align-items: center;
    }
    &__rights {
        font-family: $fontRegular;
        color: $colorText2;
        font-size: 16px;
        line-height: 19px;
    }
    &__block-icons {
        display: flex;
        gap: 7px;
    }
    &__box-icon {
        background-color: $colorText1;
        width: 32px;
        height: 32px;
        padding: 8px 10px;
        transition: all 0.3s;
        &:hover {
            background-color: $accent-color;
        }
        &:hover path {
            fill: $colorText1;
        }
    }
}

