@import './fonts.scss';

$accent-color: #F16D7F;
$pink-color: #F1E4E6;
$borderColor: #a4a4a4;
$colorTextBtn:#4a4a4a;
$backBlockColor: #222224;
$colorText1: #ffffff;
$colorText2: #f8f8f8;
$colorText3: #6f6e6e;
$fontRegular: "Lato-Regular", sans-serif;
$fontBold: "Lato-Bold", sans-serif;
$fontLight: "Lato-Light", sans-serif;
$fontItalic: "Lato-Italic", sans-serif;
