@import './normalize.scss';
@import './commonStyles.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './vars.scss';

.cart{
    padding: 96px 0 128px;
    &__wrapper{
        @include flexBetween();
        flex-wrap: wrap;
    }
    &__left-block{
        &_wrap-cards{
            @include flexColumn();
            gap: 40px;
            margin-bottom: 72px;
        }
    }
    &__right-block{
        @include flexColumn();
        gap: 57px;
    }
}

.card{
    font-size: 22px;
    max-width: 652px;
    max-height: 306px;
    display: flex;
    box-shadow: 17px 19px 24px 0 #00000021;
    &__image{
        height: 100%;
        max-width: 262px;
    }
    &__box{
        padding: 22px 22px 62px 31px;
        background-color: $colorText1;
    }
    &__top{
        @include flexBetween();
        margin-bottom: 42px;
    }
    &__title{
        font-family: $fontRegular;
        font-weight: 400;
        font-size: 1.1em;
        color: $backBlockColor;
        text-transform: uppercase;
        margin-right: 57px;
        &:hover{
            text-decoration: underline;
        }
    }
    &__cross:hover path{
        fill: $accent-color;
    }
    &__bottom{
        @include flexColumn();
        gap: 6px;
    }
    &__character{
        font-family: $fontRegular;
        font-weight: 400;
        font-size: 1em;
        color: #575757;
        &_accent-text{
            color: $accent-color;
        }
        &_other-text{
            color: $colorText3;
        }
        &_count{
            width: 44px;
            height: 25px;
            border: 1px solid #eaeaea;
            padding-left: 8px;
        }
        &_number{
            padding-right: 24px;
        }
    }
    &__btns{
        @include flexBetween();
    }
    &__btn{
        @include button();
        font-family: $fontRegular;
        font-weight: 400;
        border: 1px solid $borderColor;
        color: #000;
        text-transform: uppercase;
    }
}
    

.shipping{
    @include flexColumn();
    gap: 20px;
    &__title{
        font-family: $fontRegular;
        font-weight: 400;
        font-size: 16px;
        color: $backBlockColor;
        text-transform: uppercase;
    }
    &__adress{
        width: 360px;
        height: 45px;
        border: 1px solid $borderColor;
        padding: 13px 17px 16px;
    }
    &__button{
        @include button();
        width: 101px;
        height: 35px;
        font-family: $fontRegular;
        font-weight: 400;
        font-size: 11px;
        color: $colorTextBtn;
        border: 1px solid $borderColor;
        padding: 8px 13px 12px;
        text-transform: uppercase;
    }
}

.confirm-price{
    padding: 38px 43px 42px 44px;
    background-color: #f5f3f3;
    &__total{
        @include flexEnd();
        gap: 70px;
        color: $colorTextBtn;
        font-family: $fontRegular;
        text-transform: uppercase;
        &:first-child{
            margin-bottom: 13px;
        }
        &:last-of-type{
            padding-bottom: 21px;
            margin-bottom: 21px;
            border-bottom: 1px solid #e2e2e2;
        }
    }
    
    &__sub, &__sub-price{
        font-size: 11px;
    }
    &__grand, &__grand-price{
        font-size: 16px;
    }
    &__sub-price, &__grand-price{
        &::before{
            content: "\0024";
        }
    }
    &__grand-price{
        font-family: $fontBold;
        color: $accent-color;
    }
    &__button{
        background-color: $accent-color;
        padding: 15px 43px;
        font-family: $fontRegular;
        font-size: 16px;
        color: $colorText1;
        text-transform: uppercase;
        cursor: pointer;
        &:hover{
            color: $backBlockColor;
            background-color: $colorText1;
            ;
            border: 1px solid $colorText3;
        }
    }
}

@import './media.scss';

